@charset "UTF-8";


.content{
    height: 750px; width: 1520px;
}
 
.profil{
    background-color: #1B5C79;
    height: 75px;
    width: 200px;
    border-radius: 20px;
}
ul {
    list-style-type: none;
    }
.recherche p{
   color: #2E4765;
}

#suivie::placeholder{
    color:#2E4765;
}
#nom::placeholder{
    color:#2E4765;
}
#date::placeholder{
    color:#2E4765;
}
/********************************************
 * BOUTON 
 *******************************************/
.btnd button{
    width: 100%;
    height: 100%;
    margin-top: -20px;
    border: none;
    background-color: #1B5C78;
    border-radius: 5px;
    color: #eeeeee56;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}
.btnd  button:hover{
    background:#2E4765;
    color: #0c0c0cad;
}
.deconexion{
    background-color: #1B5C78;
    color: #eeeeee56;
}
.btnnavigation{
    background-color: #1B5C78;
    height: 15px;
    color: #eeeeee56;
}
.btnnavigation:hover{
    background:#2E4765;
    color: #0c0c0cad;
}
/********************************************
 * SCROLLAB 
 *******************************************/
 .vertical-scrollable> .row { 
    position: absolute; 
    top: 120px; 
    bottom: 100px; 
    left: 180px; 
    width: 50%; 
    overflow-y: scroll;  
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE; 
 
    
   
  }
  .vertical-scrollable> .row::-webkit-scrollbar {
    width: 11px;
  }
  .vertical-scrollable {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  .vertical-scrollable> .row::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  .vertical-scrollable> .row::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }